# Database
DATABASE_URL=postgresql://user:password@db:5432/bizapp

# Redis
REDIS_URL=redis://redis:6379/0

# FastAPI
JWT_SECRET_KEY=your-secret-key-change-in-production
ALLOWED_ORIGINS=http://localhost:8000,http://localhost:8080,http://web:8080

# Django
DJANGO_SECRET_KEY=django-insecure-90+b-a90gjb_e6*7fl55$s8lx#b@c0_ad+4u(1-i-or%)^7#qf
