fastapi==0.119.1
uvicorn==0.38.0
asyncpg==0.30.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.1.1
python-multipart==0.0.6
email-validator==2.1.0
redis==5.0.1
psycopg2-binary==2.9.11
Django==5.2.7
sqlparse==0.5.3
requests
urllib3
celery[redis]==5.4.0
